<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBConnection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <DBConnection.Properties.Settings>
            <setting name="A1RubberConnection" serializeAs="String">
                <value>Server=192.168.6.206\VJS;Uid=A1VJS;Pwd=a1recycled;Database=A1DB</value>
            </setting>
        </DBConnection.Properties.Settings>
    </applicationSettings>
</configuration>